.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba( 0, 0, 0, .3);
    visibility: hidden;
    opacity: 0;
}

.modal-box {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 0 auto;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}